<div class="mat-title full-width">Value</div>
<form name="form" class="form" #form="ngForm">

    <mat-form-field class="full-width">
        <mat-select *ngIf="blockType === 'boolean'" name="value" placeholder="Value" [(ngModel)]="value">
            <mat-option value="true">True</mat-option>
            <mat-option value="true">False</mat-option>
        </mat-select>
        <input *ngIf="blockType === 'string'" type="text" name="value" matInput placeholder="Value" [(ngModel)]="value" required>
        <input *ngIf="blockType === 'number'" type="number" name="value" matInput placeholder="Value" [(ngModel)]="value" required>
    </mat-form-field>

    <!-- <mat-form-field class="full-width">
        <input name="fileName" matInput placeholder="Code file name" [(ngModel)]="fileName" required>
    </mat-form-field>-->

    <!--<div class="warning mat-subheading-1" *ngIf="!isNameValid">Name already in use</div>-->
    <br>
    <button [disabled]="value === undefined" mat-raised-button color="primary" (click)="validateValue()">Create</button>
</form>