<div class="error-displayer" *ngIf="data.errorBefore" (mouseover)="displayError()">X</div>
<div class="left-hit" *ngIf="hitOnLeft">|</div>
<div #content class="content {{ data.class }}" [class.inactive]="data.inactive" [class.hit]="hit">
    <div class="main-text">
        {{ data.text }}
    </div>
</div>
<div class="right-hit" *ngIf="hitOnRight">|</div>
<div class="error-displayer" *ngIf="data.errorAfter" (mouseover)="displayError()">X</div>
<div class="suggestion" *ngFor="let suggestion of data.suggestions">{{ suggestion.key }}</div>