.content {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  font-family: Arial;
  height: 35px;
  //background-color: green;
  //box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  margin-top: 4px;
  margin-bottom: 4px;
  //background-color: green;
  font-weight:  bold;

  cursor: grab;

  &.files {
    .main-text {
      color: red;
    }
  }

  &.condition {
    .main-text {
      color: green;
    }
  }

  &.basic {
    .main-text {
      color: orange;
    }
  }

  &.basic-values {
    .main-text {
      color: blueviolet;
    }
  }

  &.object {
    .main-text {
      color: green;
    }
  }

  &.code {
    .main-text {
      color: blue;
    }
  }
}

.main-text {
  color: white;
  font-size: 23px;
  line-height: 52px;
}

.error-displayer {
  height: 35px;
  width: 30px;
  margin-top: -9px;
  border: 2px solid red;
  display: inline-block;
  vertical-align: middle;
  font-family: sans-serif;
  text-align: center;
  line-height: 35px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}