.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;

  .header-row {
    padding: 5px;
  }

  .ccontainer {
    display: flex;
    flex-direction: row;
    height: 100%;

    .editor-zone {
      width: 35%;
      height: 100%;

      &.invisible {
        opacity: 0;
      }
    }

    .game-zone-container {
      display: flex;
      height: 100%;
      flex: 1;
      flex-direction: column;

      .game-zone-header {
        height: 50px;
        background-color: lightblue;
        padding: 20px;
      }

      .reload-button {
        float: right;
      }

      .game-zone-position-wrapper {
        position: absolute;
      }

      .game-zone-wrapper {
        flex: 1;
        position: relative;
        background-color: lightgoldenrodyellow;

        .game-zone {
          position: absolute;
          background-color: lightskyblue;
          overflow: hidden;
          border-radius: 20px;
          transform-origin: 0 0;
        }
      }
    }


  }
}