<div class="main">
    <div class="header-row">
        <mat-form-field>
            <mat-select placeholder="Code file" [(ngModel)]="selectedCodeFile" (ngModelChange)="codeFileChanged($event)">
                <mat-option *ngFor="let file of datas | async; let count = index" [value]="file">
                    {{ file }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-mini-fab color="primary" (click)="addCodeFile()">
            <mat-icon aria-label="Add">add</mat-icon>
        </button>

        <button mat-mini-fab color="primary" (click)="save()">
            <mat-icon aria-label="Save">save</mat-icon>
        </button>

        <button *ngIf="selectedCodeFile" mat-mini-fab color="primary" (click)="deleteCurrent()">
            <mat-icon aria-label="Delete">delete_forever</mat-icon>
        </button>
    </div>

    <div class="ccontainer">
        <div #editorzone class="editor-zone" [class.invisible]="selectedCodeFile === undefined"></div>
        <div class="game-zone-container">
            <div class="game-zone-header">
                <mat-form-field >
                    <input type="number" name="width" matInput placeholder="Scene width" [(ngModel)]="sceneWidth" (ngModelChange)="updateSceneSize()">
                </mat-form-field>
                <mat-form-field >
                    <input type="number" name="height" matInput placeholder="Scene height" [(ngModel)]="sceneHeight" (ngModelChange)="updateSceneSize()">
                </mat-form-field>

                <button class="reload-button" mat-mini-fab color="primary" (click)="reload()">
                    <mat-icon aria-label="Save">cached</mat-icon>
                </button>
            </div>
            <div class="game-zone-wrapper">
                <div class="game-zone-position-wrapper">
                    <div #gamezone [parentAutoresize] class="game-zone" [style.width.px]="sceneWidth" [style.height.px]="sceneHeight"></div>
                </div>
            </div>
        </div>
    </div>
</div>



