<div class="content">
  <div class="mat-h1">Blip</div>
  <div>

    <mat-form-field>
      <mat-select placeholder="Project name" [(ngModel)]="selectedProject" (ngModelChange)="onSelect($event)">
        <mat-option *ngFor="let project of projects | async" [value]="project">
          {{ project }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <button (click)="addProject()" mat-mini-fab color="primary">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
</div>